<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosinfondopng.png" />
	
	<title> On Wheels </title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<!-- <img src="/images/BMW_CPO_Banner.jpg" alt="Banner de ofertas" height="100px"> -->
	</div>
	<!-- /Banner -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">NOVEDADES</h2>
			</div>
			<% for (let i=0; i< 8; i+=1){ %>
			<div id="separacion" class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="autos/product/<%= autosDestacados[i].id %>">
							<figure class="product-box_image"> 
								<img src="<%= autosDestacados[i].imagen %>"> 
							</figure>
							<article class="product-box_data">
								<h2 id="color"> <%= autosDestacados[i].nombre %> </h2>
								<p> <%= autosDestacados[i].descripcion %></p>
								<p>Comentarios: 5</p>
							</article>
						
					</a>
				</section>
			</div>
			<% } %>
		</div>

	</div>

	<!-- Mas comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">MAS COMENTADOS</h2>
			</div>
			<% for (let i=0; i< 4; i+=1){ %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="autos/product/<%= autosComentario[i].id %>">
							<figure class="product-box_image"> 
								<img src="<%= autosComentario[i].imagen %>" > 
							</figure>
							<article class="product-box_data">
								<h2> <%= autosComentario[i].nombre %> </h2>
								<p> <%= autosComentario[i].descripcion %></p>
							</article>
					
					</a>
				</section>
			</div>
			<% } %>

		</div>
	</div>

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>